.benefits
  &__row
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 32px
    margin-top: 80px
    @include max(1280)
      width: 100vw
      padding: 0 40px
      position: relative
      justify-content: normal
      left: -40px
      overflow-x: auto
      gap: 24px
  &__item
    flex-shrink: 0
    width: 176px
  &__img
    width: 92px
    height: 92px
  &__title
    font-weight: 500
    margin-top: 20px
  &__desc
    color: $gray700
    margin-top: 12px