.benefits
  &__row
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 32px
    margin-top: 80px
  &__item
    max-width: 176px
  &__img
    width: 92px
    height: 92px
  &__title
    font-weight: 500
    margin-top: 20px
  &__desc
    color: $gray700
    margin-top: 12px