.faq
  background: $beige25
  &__wrap
    display: grid
    grid-gap: 30px
    grid-template-columns: 1fr 2fr
    @include max(1023)
      grid-template-columns: 1fr
      grid-gap: 24px
  &__item
    cursor: pointer
    &:hover svg
      background: $accent50
    &:not(:last-child)
      border-bottom: 1px solid $gray100
    &.opened
      svg
        transform: rotate(-90deg)
      .faq__item-content
        max-height: 100vh
        padding-bottom: 40px
        opacity: 1
    &-title
      display: flex
      align-items: flex-start
      justify-content: space-between
      position: relative
      padding: 24px 0
      gap: 24px
      font-weight: 500
      @include max(767)
        padding: 20px 0
      svg
        padding: 8px
        width: 32px
        height: 32px
        stroke: $accent700
        transform: rotate(90deg)
        flex-shrink: 0
        border-radius: 50%
    &-content
      max-height: 0
      overflow: hidden
      color: $gray700
      opacity: 0